﻿
@model List<Books>

@{
    var book = ViewBag.BookDetails;
}

<div class="container my-2">
    <h3 class="text-info">Book Details</h3>
    <table class="table border border-1 border-warning">
        <thead>
            <tr>
                <th scope="col">Book Id</th>
                <th>Book Name</th>
                <th>Book Code</th>
                <th>Number Of Copies</th>
               
            </tr>
        </thead>
        <tbody>

            <tr>

                <td>@book.Id </td>
                <td>@book.Name</td>
                <td>@book.Code</td>
                <td>@book.NumOfCopies</td>
                
            </tr>
        </tbody>
    </table>
    <a asp-action="GetBooks" class="btn btn-secondary">
        
        Back To all
    </a>
</div>

