


<div class="container w-50 my-3">
    <form method="post" asp-controller="Borrower" asp-action="CreateBorrower">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Borrower Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Name">

        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Borrower Code</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Code">

        </div>

      

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>